groups:
  - name: service_alerts
    rules:
      - alert: ServiceDown
        expr: up == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Usługa {{ $labels.job }} nie działa"
          description: "Usługa {{ $labels.instance }} jest niedostępna."

      - alert: HighPaymentErrors
        expr: 'sum(rate(payments_processed_total{status="failed"}[5m])) > 1'
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "Wysoka liczba nieudanych płatności"