server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                  allowedOrigins: "http://localhost:3000"
                  allowedMethods:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - OPTIONS
                  allowedHeaders: "*"
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true
          routes:
                    - id: ai-analytics-service
                      uri: lb://ai-analytics-service
                      predicates:
                        - Path=/api/ai/**
                      filters:
                        - RewritePath=/api/ai/(?<segment>.*), /$\{segment}

                    - id: payment-service
                      uri: lb://payment-service
                      predicates:
                        - Path=/api/payments/**
                      filters:
                        - RewritePath=/api/payments/(?<segment>.*), /$\{segment}

                    - id: notification-service
                      uri: lb://notification-service
                      predicates:
                        - Path=/api/notifications/**
                      filters:
                        - RewritePath=/api/notifications/(?<segment>.*), /$\{segment}

                    - id: user-service
                      uri: lb://user-service
                      predicates:
                        - Path=/api/auth/**, /api/users/**
                      filters:
                        - RewritePath=/api/(?<segment>.*), /$\{segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
