apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nexus-ai-ingress
  namespace: nexus-ai
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
    - http:
        paths:
          - path: /api(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                name: gateway-service-service
                port:
                  number: 8080
