server:
  port: 8888
spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: config-server
  data:
      redis:
        host: ${REDIS_HOST:localhost}
        port: ${REDIS_PORT:6379}
        password: ${REDIS_PASSWORD}
  cloud:
    config:
      server:
        git:
          uri: https://github.com/martin3456-rrr/NEXUS-AI.git
          search-paths:
            - config-repo
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/